
{{> header}}   
    {{> navbar}}
    
    <div class="row" id="colum">
        <div class="col-md-6">
            <p>Esta es mi primer sitio web con Node.js</p>
        </div>
        <div class="col-md-6">
            <img src="assets/images/node.png" alt="">
        </div>
    </div>

{{> footer}}